<style>
  body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  box-sizing: border-box;
}

.container {
  position: relative;
}

.conveyor-belt {
  width: 400px;
  height: 50px;
  border-radius: 50px;
  border: 6px solid #C4CED1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
}

.item {
  position: absolute;
  bottom: 100%;
  margin-bottom: -4px;
  transform: scale(0);
  animation: move 10s linear infinite;
  
  &--1 {
    animation-delay: 2s;
  }
  
  &--2 {
    animation-delay: 5s;
  }
  
  &--3 {
    animation-delay: 7s;
  }
  
  &--4 {
    animation-delay: 9s;
  }
}

.bounce {
  animation: bounce 0.5s linear infinite;
}

.roll {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #F4F4F5;
  position: relative;
  box-shadow: 0 0 0 10px #E2E6E8 inset;
}

.gear {
  width: 34px;
  height: 34px;
  animation: spin 5s linear infinite;
}

@keyframes move {
  0% {
    transform: translate(10px, -200%) scaleX(0) scaleY(0);
  }
  3% {
    transform: translate(10px, 0) scaleX(1) scaleY(1);
  }
  4% {
    transform: translate(10px, 20%) scaleX(1.4) scaleY(0.6);
  }
  7% {
    transform: translate(10px, -10%) scaleX(0.9) scaleY(1.2);
  }
  8% {
    transform: translate(20px, 0) scaleX(1) scaleY(1);
  }
  76% {
    transform: translate(320px, 0) scaleX(1) scaleY(1);
  }
  78% {
    transform: translate(320px, 20%) scaleX(1.4) scaleY(0.6);
  }
  79% {
    transform: translate(320px, -10%) scaleX(0.9) scaleY(1.2);
  }
  80% {
    transform: translate(320px, -150%) scaleX(0) scaleY(0);
  }
}

@keyframes bounce {
  0%, 40%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1%);
  }
  70% {
    transform: translateY(1%);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
</style>


